<div id="main-container" class="container">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
    </div>
    <div id="content" class="col-xs-9">
      <!--  main content -->
    </div>
  </div>
</div>